.home__login {
  background-color: white;
  border-radius: 4px;
  min-width: 300px;
  min-height: 25vh;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    margin-top: 18px;
    background-color: purple;
    cursor: pointer;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
  }
}
